.navbar-default {
    background-color: #fff;
    border: none;
}

.navbar-default .navbar-text {
    color: #090f14
}

.navbar-default .navbar-nav>li>a {
    color: #090f14;
    /* font-size: 28pt; */
    font-family: 'Century Gothic';
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #0d151c;
    background-color: transparent
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #0d151c;
    background-color: #e7e7e7
}

.navbar-default .navbar-nav>.disabled>a,
.navbar-default .navbar-nav>.disabled>a:hover,
.navbar-default .navbar-nav>.disabled>a:focus {
    color: #0d151c;
    background-color: transparent
}

.navbar-brand {
    padding: 0;
}

.navbar-nav {
    margin: 0 200px;
}

.logo {
    height: 100%;
}

#logoImg {
    height: 100%;
}

#home {
    background-image: url("../images/homeBackground.png");
    display: flex;
    justify-content: flex-end;
    padding: 65px 0 0 0;
}

.cont {
    display: flex;
    width: 70%;
}

.first {
    /* background-color: #fff; */
    padding: 50px 40px 40px 0;
    width: 70%;
}

.first h2 {
    color: #fff;
    font-family: 'Century Gothic';
}

.first p {
    margin: 25px 0 0 0;
    color: #e4e4e4;
    font-size: 16px;
}

.second {
    /* background-color: #090f14; */
    padding: 50px 0;
    width: 50%;
}

.devices {
    padding: 60px 0;
    color: #e4e4e4;
    font-size: 30pt;
}

.fa {
    padding: 0 15px 0 0;
}

.devicesText {
    font-size: 16px;
}

.getOrderButton {
    width: 360px;
    height: 72px;
    background-color: #f4f3f2;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    /* vertical-align: bottom; */
}

.getOrderButtonText {
    padding: 17px 0 0 0;
    color: #0e141c;
    font-size: 24px;
    font-family: 'Century Gothic';
    font-weight: 500;
}


/* start advantage section */

#advantage {
    background-color: #f4f3f2;
    width: 100%;
    display: flex;
    justify-content: center;
}

.advs {
    display: flex;
    justify-content: center;
    width: 70%;
}

.adv {
    margin: 96px;
    font-family: 'Century Gothic';
}

.advImg {
    width: 200px;
    height: 200px;
    border: 5px #fff solid;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.adv h4 {
    color: #272727;
    text-align: center;
}

.adv p {
    color: #363636;
    text-align: center;
}


/* end advantage section */


/* start whatItIs section */

#whatIsIt {
    padding: 62px 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

#whatIsIt2 {
    padding: 33px 0;
    font-family: 'Century Gothic';
    background-color: #f4f3f2;
}

#whatIsIt2 h3 {
    text-align: center;
    width: 70%;
    margin: 0 auto 60px;
}

.whatIsIt2Cont {
    display: flex;
    justify-content: center;
}

.whatIsItBlock {
    display: flex;
    width: 70%;
}

.whatIsItBlock p {
    margin: 25px 0;
}

.whatIsItText {
    width: 50%;
    padding: 0 60px 0 0;
}

.whatIsItText h4 {
    font-weight: 600;
}

.whatIsItImg {
    width: 50%;
}


/* end whatItIs section */


/* start dignity section */

#dignitySection {
    padding: 33px;
    font-family: 'Century Gothic';
}

.dignity {
    display: flex;
    justify-content: center;
    width: 100%;
}

.digs {
    width: 70%;
    display: flex;
}

.dig {
    width: 30%;
    margin: 0 5px;
    text-align: center;
    /* border: #000 1px solid; */
    border: #ebeae9 1px solid;
    border-top: none;
    box-shadow: 0px 5px 5px 2px rgba(218,216,215,1);
}

.dig img {
    width: 30%;
}

.dig p {
    border-top: none;
    padding: 30px 25px;
}

.order {
    display: flex;
    flex-direction: column;
}

.butt {
    display: flex;
    justify-content: center;
    margin: 42px 0 0 0;
}

.orderButt {
    width: 240px;
    border-radius: 20px;
    background: linear-gradient(#3d4d60, #2d3a4a);
}

.orderButt p {
    color: #e4e4e4;
    padding: 14px 60px 8px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}

.discText {
    color: #3d4d60;
    text-align: center;
    margin: 7px;
}


/* end dignity section */


/* start reviews section */

#reviews {
    background-image: url("../images/pexels-photo-medium.png");
    padding: 50px 0;
}

.revBlock {
    background-color: #fff;
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 15px 20px 10px 0;
}

.revItem {
    display: flex;
    justify-content: center;
}

.imgAvatar {
    margin: 0 17px 0 auto;
}

#reviews h3 {
    text-align: center;
    color: #e4e4e4;
}

.revText {
    color: #2e3b4a;
}

.info {
    width: 100%;
}

.comment {
    width: 80%;
}

.name {
    color: #858484;
    float: left;
}

.date {
    color: #b1b1b1;
    float: right;
}

.carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li {
    background-color: #efefef;
    border: #8a8889;
}

.carousel-indicators .active {
    background-color: #464646;
    border: #222222;
}


/* end reviews section */


/* start order section */

#orderSection {
    background-color: #fff;
}

.orderSectionCont {
    display: flex;
    justify-content: center;
    padding: 70px 0;
}

.orderDiscount {
    width: 50%;
    border-right: #464646 2px solid;
    display: flex;
    justify-content: center;
}

.freeDelivery {
    position: relative;
    top: -36px;
    left: 597px;
    width: 100px;
    height: 100px;
}

.orderForm {
    width: 50%;
}

.orderTitle h2 {
    color: #3a3b3c;
    text-align: center;
}

.discBlock {
    border: #a1a1a1 2px solid;
    padding: 22px 87px;
    text-align: center;
}

.discproc {
    color: #ed2727;
    font-size: 32pt;
}

.discprocdc {
    color: #a5a5a5;
    font-size: 30pt;
}

.aed2 {
    color: #3f4243;
    text-decoration: line-through;
    font-size: 26pt;
}

.aed {
    color: #da2828;
    font-size: 30pt;
}

.offerText {
    color: #3f4243;
    font-size: 24pt;
}

.timer_text {
    font-size: 20px;
    color: #999;
    font-weight: 300;
}

.timer_text2 {
    font-size: 30px;
    color: #999;
    font-weight: 300;
    text-align: center;
}

.timer_text2 span {
    font-size: 35px;
    color: red;
    font-weight: 700;
}

.timer {
    border-radius: 2px;
    /* box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2); */
    display: inline-block;
    margin: 0 auto;
    /* margin: 25px; */
    padding: 0 30px 30px;
}

.timer__item {
    display: inline-block;
    text-align: center;
    line-height: 1.2;
}

.timer__item+.timer__item {
    margin-left: 20px;
}

.timer__value,
.timer__label {
    display: block;
}

.timer__value {
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #7e7e7e;
}

.timer__label {
    color: #3f4243;
    font-size: 14px;
    letter-spacing: .04em;
    text-transform: uppercase;
}


/* second section */

.orderForm {
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 50%;
}

.form-control {
    border-color: #464646;
    border-radius: 0px;
}

.inputH {
    margin: 8px 0;
}

.sendButton {
    background-color: #6dcff6;
    border: none;
    color: #fff;
    /* padding: 10px 35px; */
    /* font-size: 16pt; */
}

/* end order section */